@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes shimmer {
    0% {
      background-position: -250% 0;
    }
    100% {
      background-position: 250% 0;
    }
  }
}
